.App {
  max-height: 721px;
  height: 721px;
  text-align: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,9,121,0.9203413940256046) 30%, rgba(0,212,255,1) 100%);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	color: $text;
	max-width: 90%;
	padding: 2em 3em;
  background: rgba(0, 0, 0, 0.4);
  /* background: rgba(191,180,185,0.4); */
  text-shadow: 0px 0px 2px #131415;
	font-family: 'Open Sans', sans-serif;
}

.particles {
  position: fixed;
  height: 100%;
  width: 100%;
}