.button{
    position: relative;
    padding: 15px 50px;
    font-size: 1.3rem;
    font-weight: 300;
    background: rgb(99, 44, 201);
    border-color: black;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    float: center;
    font-family: "Lucida Console", Monaco, monospace;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}